<div class="container custom-container2">
  <div class="col-md-12">
      <h4 class="paraghp">{{ tituloComp }}</h4>
      <div *ngIf="lerDados">
        <table class= "table table-bordered">
          <thead>
            <tr>
              <th class= "thtable">Id</th>
              <th class= "thtable">Name</th>
              <th class= "thtable">Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let datas of lerDados">
              <td class="datas">{{ datas.id }}</td>
              <td class="datas">{{ datas.nameDepartment }}</td>
              <td>
                <button type= "button" class= "btn btn-outline-info btn-sm" style="background-color: blue;" (click)= "retornaLista()">Back to List</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>


